@import url("https://fonts.googleapis.com/css2?family=Rampart+One:wght@300;400;500;600&display=swap");

body{
    margin: auto 0;
    background-color: #90dbc5;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
}
h1{
    font-family: 'Rampart One', cursive;
    color: #000000 ;
    text-align: center;
    font-size: 200%;
}

h2 {

    color: #000000;
    text-align: center;
}




.tarjetas{
    display: flex;
    justify-content: space-evenly;

    
}

#seleccionar-mascota label{
    height:21vh ;
    width: 30vw;
    background-color: rgb(152, 235, 127);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
    
}


#seleccionar-mascota p{
    color: #000000;
    margin: auto 0;
    font-family: 'Rampart One', cursive;
    text-align: center;
    

}


input {
    display: none;
}

#seleccionar-mascota button {
    border-radius: 20px;
    margin-left: 35%;
    width: 30vw;
    height: 15vw;
    border: 1px solid white;
}
