@import url("https://fonts.googleapis.com/css2?family=Rampart+One:wght@300;400;500;600&display=swap");

body{
    margin: auto 0;
    background-color: #90dbc5;
    background-image: url('../img/fondo.jpg');

}
h1{
    font-family: 'Rampart One', cursive;
    color: #000000 ;
    text-align: center;
    font-size: 180%; 
}


h2 {

    color: #000000;
    text-align: center;
}




.tarjetas{
    display: flex;
    justify-content: space-evenly;

    
}
label {
    background-color: rgb(5, 130, 202);
}
#seleccionar-mascota label{
    height:21vh ;
    width: 30vw;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
    
}


#seleccionar-mascota p{
    color: #000000;
    margin: auto 0;
    font-family: 'Rampart One', cursive;
    text-align: center;
    

}


input {
    display: none;
}

input:checked + label{
    background-color: rgb(243, 69, 69);
}

#seleccionar-mascota button {
    border-radius: 20px;
    margin-left: 35%;
    width: 30vw;
    height: 15vw;
    border: 1px solid rgb(0, 0, 0);
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

#contenedorAtaques{

    text-align: center;

}
.boton-de-ataque{

    background-color:rgb(5, 130, 202) ;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 30vw;
    height: 15vw;
    border-color: transparent;
    margin: 3px;
    font-size: 150%;
}





#mensajes {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    width: 40vw;
    height: 15vw;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    
}

#boton-reiniciar{
    color: #ffffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    width: 30vw;
    height: 15vw;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(24, 23, 21);
}

.ataque{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 150px 150px;
    text-align: center;
    column-gap: 60px;
   
}

.historial{

    background-color:rgba(5, 130, 202, 0.2) ;    
    border-radius: 10px;
    border: solid rgb(142, 224, 229);
}

#ver-mapa {

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {

    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(60, 224, 142);
    margin: 10px 0 ;

}


#mapa {

    border: 2px solid white;

}

@media (min-width: 768px){
 
    body{ 
        background-size: cover;
        background-image: url('../img/fondo2.jpg');
    }



    .tarjetas img{
        
      width: 10vw;
      position: absolute;
      
    }

    .boton-de-ataque{

    
        width: 10vw;
        height: 5vh;
    }
    .caja-seleccionar{
        
        margin-top: 5%;
        display: flex;
        justify-content: center;

    }

    #seleccionar-mascota label{
        height:14vh ;
        width: 20vw;
        margin-bottom: 10%;
        
    }


    #seleccionar-mascota button {
        width: 12vw;
        height: 5vw;
        margin: auto 0px;
    }


    #seleccionar-mascota p{
        text-align: right;
        padding-top: 1em;
        padding-right: 0.5em;
        font-size: 2em;
        position:sticky;
    }



    #mensajes {
        width: 15vw;
        height: 7.5vw;
        
        
    }

    #boton-reiniciar{
        
        width: 15vw;
        height: 7.5vh;
        
    }
    
}

